@tailwind base;
@tailwind components;
@tailwind utilities;

section {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #0d3560;
  overflow: hidden;
}

section .wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(/wave.png);
  background-size: 1000px 100px;
}

section .wave.wave1 {
  animation: animate 30s linear infinite;
  z-index: 1;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}

section .wave.wave2 {
  animation: animate 25s linear infinite;
  z-index: 999;
  opacity: 0.8;
  animation-delay: -5s;
  bottom: 10px;
}

section .wave.wave3 {
  animation: animate 20s linear infinite;
  z-index: 998;
  opacity: 0.6;
  animation-delay: -10s;
  bottom: 15px;
}

section .wave.wave4 {
  animation: animate 18s linear infinite;
  z-index: 997;
  opacity: 0.4;
  animation-delay: -15s;
  bottom: 20px;
}

@keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}

section .random-line {
  position: absolute;
  left: 0;
  width: 150%; 
  height: 2px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.6), rgba(128, 128, 128, 0.3));
  animation: moveLines linear infinite;
}

@keyframes moveLines {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #d1e5ff;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#060442, #0944aa);
  border-radius: 10px;
}

section .random-dot {
  position: absolute;
  left: 0;
  width: 100px;
  height: 100px; 
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0.3));
  border-radius: 50%; 
  animation: moveDots linear infinite, fadeIn 1s ease forwards; 
  opacity: 0; 
}

@keyframes moveDots {
  0% {
    transform: translateX(-5px); 
  }
  100% {
    transform: translateX(calc(100vw + 5px));
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0; 
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1; 
  }
}
